body {
	font: normal 300 16px 'Open Sans', Helvetica, sans-serif;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 30px;
}
/*** Header ***/

header {
	background: transparent url('../assets/front.jpg') center no-repeat;
	padding: 100px 0 50px 0;
	text-align: center;
}

header h1 {
	background: transparent url('../assets/jsconfbr.png') no-repeat 50% 0;
	padding-top: 80px;
	font-size: 2.5rem;
	color: white;
	font-weight: 400;
}

header p {
	text-transform: uppercase;
	color: white;
	font-weight: 400;
}

@media (min-width: 560px) {
	header {
		padding-top: 200px;
	}
	header h1 {
		font-size: 4.2rem;
	}
	header p {
		font-size: 1.8rem;
		letter-spacing: 1.2px;
		padding-bottom: 60px;
	}
}
/*** Section ***/

main {
	text-align: center;
}

main p {
	margin-bottom: 15px;
}

section {
	padding: 70px 0;
	margin: 0 20px;
	border-bottom: 1px solid #dfdfdf;
}

section h2,
footer h2 {
	text-align: center;
	font-weight: 300;
	padding-bottom: 50px;
	font-size: 3.25rem;
}


/*** Speakers ***/

.speaker-blocks {
	margin: 0 auto;
	max-width: 1000px;
}
.speaker {
	vertical-align: top;
	border: 1px solid #cecece;
	width: 280px;
	margin: 0 auto 20px auto;
	height: 375px;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
}

.speaker h3 {
	color: green;
	font-size: 1.5rem;
	margin-top: 30px;
}

.speaker p{
	max-width: 250px;
	margin: 0 auto;
}

.speaker-bio {
	position: absolute;
	opacity: 0;
	padding: 15px 10px;
	box-sizing: border-box;
	width: 280px;
	height: 375px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.speaker-bio h3 {
	margin-top: 0;
}
.speaker-bio p {
	font-size: 0.8rem;
	color: white;
}

.speaker-bio a {
	color: green;
	text-decoration: none;
	font-weight: 700;
}

.speaker-bio a:hover {
	text-decoration: underline;
}

.speaker:hover > .speaker-bio {
	opacity: 1;
}

@media (min-width: 560px){

	.speaker-blocks {
		text-align: center;
	}
	.speaker {
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
	}
}

/*** Schedule ***/

table {
	max-width: 1000px;
	margin: 0 auto;
	box-sizing: border-box;
	border-bottom: 1px solid #EFEFEF;
}

td {
	border-top: 1px solid #EFEFEF;
	padding: 10px;
	font-size: 1.5rem;
	text-align: left;
	vertical-align: middle;
	font-weight: normal;
}

td.time {
}

.description {
	width: 100%;
}

td img{
	width: 130px;
}


td.description p {
	display: inline-block;
	margin: 0 10px 0 0;
}

td a {
	color: green;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
	display: block;
}

td a:hover {
	text-decoration: underline;
}

td div.tag {
	display: inline-block;
	list-style: none;
	font-size: .5rem;
	background-color: #EEEEEE;
	border: 1px solid grey;
	padding: 0 2px;
	vertical-align: middle;
}

@media (max-width: 655px) {
	tr{
		position: relative;
		display: block;
		border-top: 1px solid #EFEFEF;
	}

	td {
		display: block;
		border: 0;
	}
	.time {
		padding: 20px;
		text-align: right;
	}

	td.description {
		width: 95%;
	}
	td.image {
		position: absolute; 
		top: 0;
		left: 0;
	}
	table img {
		width: 80px;
	}
}

/*** Location ***/

#location {
	width: 100%;
	margin: 0;
}

#location p {
	text-align: left;
	line-height: 25px;
}

#location>p:nth-of-type(2) {
		padding-bottom: 40px;
}

.map-responsive {
	overflow: hidden;
	padding-bottom: 500px;
	position: relative;
	height: 0;
	margin-bottom: 50px;
}

.map-responsive iframe {
	left: 0;
	top: 0;
	height: 500px;
	width: 100%;
	position: absolute;
	border: 0;
}

.overlay {
   background:transparent; 
   position:relative; 
   width: 100%;
   height: 500px; /* your iframe height */
   top: 500px;  /* your iframe height */
   margin-top:-500px;  /* your iframe height */
   z-index: 2;
}

/*** Call for Papers ***/
#call-for-papers {
	text-align: left;
	margin: 0 auto;
}

#call-for-papers {
	line-height: 25px;
}
#call-for-papers h2 {
	text-align: center;
}

#call-for-papers a.button + p {
	margin-top: 15px;
}

a {
	color: green;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*** Sponsors ***/


#sponsors {
	text-align: left;
}
#sponsors h2 {
	text-align: center;
}

a.gold-sponsor, a.silver-sponsor, a.support {
	margin-right: 40px;
}

.silver-sponsor img {
	width: 240px;
}

img.support {
	width: 180px;
}

#sponsors h6 {
	font-size: 1.1rem;
	font-weight: normal;
}

/*** Footer ***/
footer {
	height: 340px;
	background: transparent url('../assets/people.jpg') 0 -100px/cover no-repeat;
	text-align: left;
}

footer section{
	padding: 15px 0;
	background-color: rgba(0,0,0,0.8);
	color: white;
	margin: 0;
	border: 0;
}

footer h2 {
	color: white;
	padding: 30px 0;
}

footer h3 {
	font-size: 1.9rem;
	text-transform: uppercase;
}
@media (max-width: 800px) {
	footer {
		background-position: center;
	}
}
@media (max-width: 650px) {
	footer h2 {
	font-size: 2rem;
	}

	footer div.container {
		padding: 0 10px;
	}
}
/*** Button ***/

a.button {
	display: inline-block;
	color: white;
	font-weight: 700;
	background-color: #008000;
	padding: 10px 20px;
	text-decoration: none;
}

a.button:hover {
	background-color: #006000;
}

/*** Navigation ***/

nav {
	display: none;
}

@media (min-width: 560px) {
	nav {
		display: block;
		width: 100%;
		text-align: center;
		position: fixed;
		background-color: #fff;
		text-transform: uppercase;
		z-index: 1;
		border-bottom: 1px solid #dfdfdf;
	}

	nav li {
		display: inline-block;
		padding: 15px 30px;
	}

	nav a {
		text-decoration: none;
		color: #444;
		font-size: 0.8rem;
		font-weight: 400;
	}

	nav a:hover {
		text-decoration: underline;
	}
}

